# SQL

## Shema

Poveži se na `jobs.db` databazo.

Prikaži shemo `recent_grads` tabele.

Prilepite ukaz, ki ste ga izvedli in izpisane vrstice.

```sqlite3
CREATE TABLE IF NOT EXISTS "recent_grads" (
"index" INTEGER,
  "Rank" INTEGER,
  "Major_code" INTEGER,
  "Major" TEXT,
  "Major_category" TEXT,
  "Total" INTEGER,
  "Sample_size" INTEGER,
  "Men" INTEGER,
  "Women" INTEGER,
  "ShareWomen" REAL,
  "Employed" INTEGER,
  "Full_time" INTEGER,
  "Part_time" INTEGER,
  "Full_time_year_round" INTEGER,
  "Unemployed" INTEGER,
  "Unemployment_rate" REAL,
  "Median" INTEGER,
  "P25th" INTEGER,
  "P75th" INTEGER,
  "College_jobs" INTEGER,
  "Non_college_jobs" INTEGER,
  "Low_wage_jobs" INTEGER
);
CREATE INDEX "ix_recent_grads_index"ON "recent_grads" ("index");
```

In [ ]:
# .schema recent_grads

## SELECT and LIMIT

Prikaži prvih 12 vrstic stolpcev `Rank` in `Major`, v tem vrstnem redu, tabele `recent_grads`.

Prilepite ukaz, ki ste ga izvedli in izpisane vrstice.

```sql
1|PETROLEUM ENGINEERING
2|MINING AND MINERAL ENGINEERING
3|METALLURGICAL ENGINEERING
4|NAVAL ARCHITECTURE AND MARINE ENGINEERING
5|CHEMICAL ENGINEERING
6|NUCLEAR ENGINEERING
7|ACTUARIAL SCIENCE
8|ASTRONOMY AND ASTROPHYSICS
9|MECHANICAL ENGINEERING
10|ELECTRICAL ENGINEERING
11|COMPUTER ENGINEERING
12|AEROSPACE ENGINEERING
```

In [ ]:
# sqlite> select Rank,Major from recent_grads LIMIT 12;

## WHERE

Prikaži stolpca `Major`, `Unemployment_rate` in `Total`, kjer je `Unemployment_rate` večji od 10% in stolpec `Total` (celotno število diplomantov) manjši od 1000.

Prilepite ukaz, ki ste ga izvedli in izpisane vrstice.

```sql
MINING AND MINERAL ENGINEERING|0.117241379|756
SCHOOL STUDENT COUNSELING|0.107579462|818
```

In [ ]:
#sqlite> select Major,Unemployment_rate,Total from recent_grads Where Unemployment_rate>0.1 and Total<1000;

## ORDER BY

Prikažite prvih 5 stolpecv `Major`, `Mediana`. Vrstni red naj bo naraščajoč glede na stolpec `Mediana`.

Prilepite ukaz, ki ste ga izvedli in izpisane vrstice.

```sql
LIBRARY SCIENCE|22000
COUNSELING PSYCHOLOGY|23400
EDUCATIONAL PSYCHOLOGY|25000
CLINICAL PSYCHOLOGY|25000
ZOOLOGY|26000
```

In [ ]:
#sqlite> select Major,Median from recent_grads order by Median LIMIT 5;

# Python SQLite3

In [1]:
import sqlite3

Povežite se na `job.db` databazo.

Prikažite vrstice od 10 do 15, za stolpce `Rank`, `Major`, `Total`.

In [2]:
# Rešitev
conn=sqlite3.connect('data/jobs.db')
cur = conn.cursor()
cur.execute("SELECT Rank,Major,Total FROM recent_grads Limit 15")
 
rows = cur.fetchall()
conn.close()
rows[10:]

[(11, 'COMPUTER ENGINEERING', 41542),
 (12, 'AEROSPACE ENGINEERING', 15058),
 (13, 'BIOMEDICAL ENGINEERING', 14955),
 (14, 'MATERIALS SCIENCE', 4279),
 (15, 'ENGINEERING MECHANICS PHYSICS AND SCIENCE', 4321)]

# SQLAlchemy and Pandas

In [3]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import DateTime, Integer, String, Boolean

import pandas as pd
import numpy as np

Povežite se na `logs.db` databazo.

Preberite celotno `weblog` tabelo v DataFrame in prikažite prvih 5 vrstic.
(stolpec `id` naj bo index DataFrama)

In [4]:
# Rešitev
eng = create_engine('sqlite:///data/logs.db')

df=pd.read_sql_table('weblog',eng,index_col='id')
df.head()

            ip           timestamp  status method
id
1   10.128.2.1 2017-11-29 06:58:55     200    GET
2   10.128.2.1 2017-11-29 06:59:02     302   POST
3   10.128.2.1 2017-11-29 06:59:03     200    GET
4   10.131.2.1 2017-11-29 06:59:04     200    GET
5   10.130.2.1 2017-11-29 06:59:06     200    GET

Najdite najpogostejši `ip`.
DataFramu dodajte stolpec `Ban`. Če vrstica vsebuje najpogostejši ip naj bo v `Ban` stolpcu vrednost `True`, drugače naj bo vrenost `False`.

In [5]:
# Rešitev
df['ip'].value_counts().index[0]

'10.131.2.1'

In [6]:
df['Ban']=False

In [7]:
df['Ban'][df['ip']==df['ip'].value_counts().index[0]]=True

/home/katja/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
df.head(10)

            ip           timestamp  status method    Ban
id
1   10.128.2.1 2017-11-29 06:58:55     200    GET  False
2   10.128.2.1 2017-11-29 06:59:02     302   POST  False
3   10.128.2.1 2017-11-29 06:59:03     200    GET  False
4   10.131.2.1 2017-11-29 06:59:04     200    GET   True
5   10.130.2.1 2017-11-29 06:59:06     200    GET  False
6   10.130.2.1 2017-11-29 06:59:19     200    GET  False
7   10.128.2.1 2017-11-29 06:59:19     200    GET  False
8   10.131.2.1 2017-11-29 06:59:19     200    GET   True
9   10.131.2.1 2017-11-29 06:59:30     200    GET   True
10  10.131.2.1 2017-11-29 06:59:37     302    GET   True

DataFrame zapišite v `logs.db` databazo, v `ban_log` tabelo. Če tabela še ne obstaja jo ustvarite.

Glede databaznih stolpcev in njihovih data-tipov si pomagajte s spodnjim `dtype_dict`.

In [9]:
dtype_dict = {'ip': String(15), 
              'timestamp': DateTime(), 
              'status': Integer(), 
              'method': String(10), 
              'Ban': Boolean()
}

In [10]:
# Rešitev
df.to_sql(name='ban_log',con=eng,index=False,if_exists='replace',dtype=dtype_dict)

In [11]:
df=pd.read_sql_table('ban_log',eng)
df.head()

           ip           timestamp  status method    Ban
0  10.128.2.1 2017-11-29 06:58:55     200    GET  False
1  10.128.2.1 2017-11-29 06:59:02     302   POST  False
2  10.128.2.1 2017-11-29 06:59:03     200    GET  False
3  10.131.2.1 2017-11-29 06:59:04     200    GET   True
4  10.130.2.1 2017-11-29 06:59:06     200    GET  False